certifi
charset-normalizer
contourpy
cycler
faiss-cpu
filelock
fonttools
fsspec
hf-xet
huggingface_hub
idna
Jinja2
kiwisolver
MarkupSafe
matplotlib
mpmath
networkx
numpy
onnx
opencv-python
packaging
pandas
pillow
polars
polars-runtime-32
protobuf
psutil
py-cpuinfo
pyparsing
python-dateutil
pytz
PyYAML
regex
requests
safetensors
scipy
seaborn
six
sympy
tokenizers
tqdm
transformers
typing_extensions
tzdata
ultralytics
ultralytics-thop
urllib3
